@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');




.work-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font: weight 400px;;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared styles */

/* header styles */

/* navbar related styles */
